*{
    padding: O;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(train2.jpg);
    background-size:cover;
    background-size:100% auto;
    background-size: 3re 25%;
}
.from_contener{
    max-width: 800px;
    height: 500px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(116, 115, 115, 0.9);
    box-shadow: 0 15px 20px rgba(114, 113, 113, 0.6)
}
h2{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-left: 8px;
    border-bottom: 2px solid silver;
    margin-top: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input_box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input_box:nth-child(2n)
{
    justify-content: end;

}
.input_box label{
width: 95%;
color: white;
font-weight: bold;
margin: 5xp 0;
}
.input_box input{
    height: 30px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input_box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.activate_button{
    margin: 15px 0;
}
.activate_button button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#aa076b,#61045f);
    cursor: pointer;
    transition: 0.3s;
}
.activate_button button:hover{
 background-image: linear-gradient(to right,#61045f,#aa076b);
}
