body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.webpage {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: #006400;
    width: 200px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar div {
    background-color: #008000;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #000;
    text-align: left;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar div:hover {
    background-color: #00FF00;
}

.content {
    flex-grow: 1;
    border: 2px solid #000;
    border-left: none;
    padding: 20px;
    background-color: #fff;
}
